@font-face {
  font-family: "Margem Light";
  src: url("/fonts/margem_light.otf");
}

@font-face {
  font-family: "Margem Medium";
  src: url("/fonts/margem_medium.otf");
}

.header {
  background-color: rgba(255,0,0,.1);
}
.content {
  background-color: rgba(0,255,0,.1);
}
.footer {
  background-color: rgba(0,0,255,.1);
}

html, body, span, p, h1, h4 {
  font-family: "Margem Light";
}

body {
  overflow: hidden;
}

h1 {
  font-family: "Margem Light";
  font-size: 2.5rem!important;
}

button {
  background-color: #163183;
  color: white;
  font-size: 3em!important;
  margin: 50px 0 70px 0!important;
  padding: 20px 30px 20px 30px;
  border: none;
  border-radius: 10px;
  font-family: "Margem Medium"!important;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;

  .countDownClock {
    padding: 40px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // height: 3080px;
  height: 100%;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // width: 50%;
  font-size: 1.3rem;
  .fa {
    font-size: 2rem;
  }
  // justify-content: space-around;
  // padding: 10px;
  .right {
    display: flex;
    .social {
      padding: 0 50px 20px 0;
    }
  }
}

.algodao {
  // display: flex;
  // width: 20%;
  position: fixed;
  left: 0;
  bottom: -5px;
  img {
    width: 80%;
    transform: scaleY(0.87);
    // transform: translate(0);
    transform-origin: bottom;
  }

}

// @media (min-width: 1280px) and (max-width: 1440px) {
//   .countDownClock {
//     width: 90vh;
//     // transform: scale(.3);
//     // transform-origin: left;
//     // display: block;
//   }
//
//   .logo-pre {
//     // display: block;
//     width: 10vw;
//     img {
//       width: 100%;
//     }
//   }
//   html, body {
//     // width: 1920px;
//     // height: 1080px;
//     // transform: scale(.817, .817);
//     // transform: scaleY(.9);
//     // transform-origin: top left;
//   }
// }

@media (max-width: 1279px) {
  .header {
    flex-direction: column;

    .countDownClock {
      padding: 140px 0 120px 0;
    }
  }

  .content {
    justify-content: center;
  }

  .logo-pre {
    display: flex;
    justify-content: flex-end;
    order: 1;

    .logo {
      img {
        width: 50vw;
      }
    }
  }

  .countdown-pre {
    display: flex;
    order: 2;
    justify-content: center;
    // width: 100%;
    // padding: 60px;
  }

  .footer {
    // flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    .social {
      padding: 10px;
    }

    .left {
      display: none;
    }

    .right {
      display: flex;
      flex-direction: column;
      .social {
        padding: 0 50px 20px 0;
      }
      // display: none;
    }
  }

  .algodao {
    display: none;
  }
}

// @media (min-width: 1280px) {
//   .header {
//     display: flex;
//   }
// }

.stage-size {
  position: fixed;
  left: 10px;
  top: 10px;
}
